h1 {
    text-align: center;
  }
p {
  display: none;
  color: red;
}
  .container {
    display: flex;
    width: 100%;
  }
  .frm {
    margin: auto;
  }
  .validasi {
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    justify-content: center;
  }
  button {
    background-color: blue;
    color: white;
    width: 100%;
    height: 40px;
  }